# ignore Eclipse folders and files
/.externalToolBuilders/
/.settings/
/.buildpath
/.project*

# ignore IntelliJ folders and files
/.idea/

# ignore NetBeans folders and files
.nb-gradle/
nbbuild/
nbdist/
nbproject/
nbactions.xml
/build/
/dist/


# never ignore the following files
!.gitattributes
!.gitkeep
!.htaccess


# ignore the following folders and files
/bin/cgi/php.ini
/etc/httpd/ssl/
/etc/log/
/etc/tmp/
/vendor/
/composer
/composer.phar
desktop.ini
thumbs.db

config.*properties
!config.dist.properties
