# never ignore the following files
!.gitattributes
!.gitkeep
!.htaccess

# ignore Eclipse folders and files
/.externalToolBuilders
/.settings
/.buildpath
/.project*

# ignore IntelliJ folders and files
/.idea

# ignore NetBeans folders and files
.nb-gradle
nbbuild
nbdist
nbproject
nbactions.xml
/build
/dist

# ignore VSCode folders and files
/.vscode

# ignore the following folders and files
/config/struts-config.dtd
/etc/phpstan/phpstan.neon
/etc/tmp
/log
/php-error.log

/vendor
/composer
/composer.phar
/composer*.lock

config.*properties
!config.dist.properties
